<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <Resource name="dataSource-gameon"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="org.hsqldb.jdbc.JDBCDriver"
              url="jdbc:hsqldb:hsql://localhost/gameon-xdb"
              username="SA"
              password=""
    />
    <!--
    <Resource name="dataSource-gameon"
              auth="Container"
              type="javax.sql.DataSource"
              username="postgres"
              password="postgres"
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://localhost:5432/gameon-xdb"
              managed="true"
    />

    <Resource name="dataSource-gameon-nonjta" auth="Container" type="javax.sql.DataSource" maxActive="100" maxIdle="30" maxWait="10000" username="postgres" password="postgres"
              driverClassName="org.postgresql.Driver" url="jdbc:postgresql://localhost:5432/gameon-xdb" managed="false"/>
    -->

    <!--
    <Resource id="dataSource-gameon" type="DataSource">
        JdbcDriver = org.postgresql.Driver
        JdbcUrl = jdbc:postgresql://localhost:5432/gameon-xdb
        UserName = postgres
        Password = postgres
        JtaManaged = true
    </Resource>

    <Resource id="dataSource-gameon-nonjta" type="DataSource">
        JdbcDriver = org.postgresql.Driver
        JdbcUrl = jdbc:postgresql://localhost:5432/gameon-xdb
        UserName = postgres
        Password = postgres
        JtaManaged = false
    </Resource>
    -->
</Context>
