<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <display-name>Gameon</display-name>

    <data-source>
        <name>dataSource-gameon</name>
        <class-name>org.hsqldb.jdbc.JDBCDriver</class-name>
        <url>jdbc:hsqldb:hsql://localhost/gameon-xdb</url>
        <user>SA</user>
        <password></password>
        <initial-pool-size>1</initial-pool-size>
        <max-pool-size>100</max-pool-size>
        <min-pool-size>1</min-pool-size>
    </data-source>
    <data-source>
        <name>dataSource-gameon-nonjta</name>
        <class-name>org.hsqldb.jdbc.JDBCDriver</class-name>
        <url>jdbc:hsqldb:hsql://localhost/gameon-xdb</url>
        <user>SA</user>
        <password></password>
        <transactional>false</transactional>
        <initial-pool-size>1</initial-pool-size>
        <max-pool-size>100</max-pool-size>
        <min-pool-size>1</min-pool-size>
    </data-source>
</web-app>