/subsystem=datasources/jdbc-driver=postgresql:add(driver-name=postgresql,driver-module-name=org.postgresql,driver-xa-datasource-class-name=org.postgresql.xa.PGXADataSource)

xa-data-source add --name=dataSource-gameon --jndi-name=java:/dataSource-gameon --driver-name=postgresql --xa-datasource-class=org.postgresql.xa.PGXADataSource --xa-datasource-properties=URL=jdbc:postgresql://postgres:5432/gameon-xdb --user-name=postgres --password=postgres

connection-factory add --name=QueueConnectionFactory --entries=["java:/jms/cf/QueueConnectionFactory"] --connectors=["in-vm"]

#jms-queue add --queue-address=Team.Q --entries=["java:/jms/queue/Team.Q"] --dead-letter-address Team_Error.Q
jms-queue add --queue-address=Team.Q --entries=["java:/jms/queue/Team.Q"]

