<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-7relative [%-10thread] %-5level %-50logger{36} - %cn - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Om property saknas sätts ERROR som default -->
    <!-- Property sätts till DEBUG via maven profilen 'intellij' -->
    <logger name="se.dandel.gameon" level="${logback.application.default.level:-ERROR}" additivity="false">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </logger>

    <logger name="liquibase" level="WARN"/>

    <!-- Loggnivå kan vara: TRACE, DEBUG, INFO, WARN, ERROR, ALL eller OFF -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>
</configuration>
